<h1>Index</h1>
<a href="/companys/:id"
<ul>
  <% @companys.each do |company| %>
    <li>
      <%= company.name %>
    </li>

    <li>
      <%= company.description %>
    </li>
    <li>
    <img src="<%= company.logo%>"/>
    </li>

    
  

  <% end %>

</ul>
