
<h1>Companies</h1>
<a href="/companys/1">Micosoft</a>

<ul>
  <% @companys.each do |company| %>
    <li>
      <%= company.name %>
    </li>
    <li>
      <%= company.description %>
    </li>
    <li>
    <img src="<%= company.logo%>"/>
    </li>

    
  

  <% end %>

</ul>
