<h1>Index</h1>

<ul>
  <% @companys.each do |company| %>
    <li>
      <%= company.name %>
    </li>
    <li>
    <%= company.logo %>
    </li>
    <li>
      <%= company.description %>
    </li>
    <li>
    <img src="<%= company.logo%>"/>
    </li>
  <% end %>
</ul>
