
<div class="p-3 mb-2 bg-info-subtle text-black
">
<h1> Companies:</h1>







<% @companys.each do |company| %>
  
<img src="<%= company.logo%>" class ="logo">
<p class="fw-medium" style="font-size: 30px;"><%= company.name %></p>
    

<p class="fw-medium"><%= company.description %></p>
<h4><a href="/companys/1">Open Positions</a>.</h4>
    
<style>
.logo {
width: 100px;
height: 100px;
}
</style>
    

 <% end %>






 
 
